*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(ghost.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-top: 0px;

}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin: auto;
	margin-top: 80px;
	color: #fff;

}

.button {
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	line-height: 1.5;
	border: 1px solid transparent;
	padding: 1.5px 6px;
	border-radius: 4px;
	letter-spacing: normal;
	margin-left: 650px;
	margin-top: 120px;
	background-color: #ffffff;
	border-color: #e67e22;
	color: #e67e22;
}

.button:active,
.button:hover {
	background-color: #e67e22;
	color: #fff;
}

.pop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: none;
}

.modal{
	background: #fff;
	width: 70%;
	padding: 30px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	position: relative;
	animation: 1s drop;
}

@keyframes drop{
	0%{
		top: -100%;

	}
	100%{
		top: 50%;
	}
}

.cross {
	position: absolute;
	right: 15px;
	top: 3px;
	font-size: 35px;
	cursor: pointer;
}

section {
	transition: 1s;
}